# # requirements.txt
# fastapi==0.108.0
# uvicorn==0.25.0
# python-dotenv==1.0.0
# transformers==4.36.2
# torch>=2.6.0,<3.0
# requests==2.31.0
# python-jose[cryptography]==3.3.0
# passlib[bcrypt]==1.7.4
# python-multipart==0.0.6
# reportlab==4.0.8


fastapi==0.108.0
uvicorn==0.25.0
python-dotenv==1.0.0

# Upgrade to versions that support newer Python
transformers>=4.45.0
tokenizers>=0.20.0
protobuf==4.25.3
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.6.0,<3.0
requests>=2.32.0

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
reportlab==4.0.8
google-genai>=2.9.0
aiohttp>=3.9.0
sqlalchemy
psycopg2-binary
httplib2==0.22.0
pyparsing==3.1.2
google-api-python-client==2.110.0
xpoz
matplotlib
seaborn
wordcloud

